.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.gallery__item {
  max-width: 350px;

  max-height: 250px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
#counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
button[data-action] {
  color: aqua;
  font-size: 50px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  background-attachment: fixed;
  background-color: tomato;
  border: navy;
}
button[data-action='increment'] {
  margin-left: 20px;
}

#value {
  color: #4caf50;
  font-size: 80px;
}
